<div class="flex flex-col">
  <div class="card text-center py-8">
    <h1 class="text-3xl font-bold">{{ 'about.name' | translate }}</h1>
    <p class="text-lg text-gray-500">{{ 'about.job' | translate }}</p>
  </div>

  <div class="flex flex-col gap-4">
    <!-- About -->
    <mat-card>
      <mat-card-header>
        <span>👤</span>
        <mat-card-title>{{ 'about.title' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'about.description' | translate }}</p>
      </mat-card-content>
    </mat-card>

    <!-- Skills -->
    <mat-card>
      <mat-card-header>
        <span>🔧</span>
        <mat-card-title>{{ 'skills.title' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-set aria-label="Skill set">
          <mat-chip *ngFor="let skill of skills">{{ skill }}</mat-chip>
        </mat-chip-set>
      </mat-card-content>
    </mat-card>

    <!-- Certifications -->
    <mat-card>
      <mat-card-header>
        <span>✅</span>
        <mat-card-title>{{ 'certifications.title' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="carousel">
          <div *ngFor="let cert of certifications" class="flex gap-3">
            <span>🎓</span>
            <span>{{ cert }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Contact -->
    <mat-card>
      <mat-card-header>
        <span>📧</span>
        <mat-card-title>{{ 'contact.title' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'contact.description' | translate }}</p>
        <div class="flex flex-wrap gap-2">
          <div class="flex gap-1 items-center">
            <span>📧</span>
            <strong>{{ 'contact.email_label' | translate }}:</strong>
            <a href="mailto:hidalgojordi7@gmail.com">hidalgojordi7&#64;gmail.com</a>
          </div>
          <div class="flex gap-1 items-center">
            <span>🔗</span>
            <strong>{{ 'contact.linkedin_label' | translate }}:</strong>
            <a href="https://www.linkedin.com/in/jordi-hidalgo-palma/">
              linkedin.com/in/jordi-hidalgo-palma
            </a>
          </div>
          <div class="flex gap-1 items-center">
            <span>💻</span>
            <strong>{{ 'contact.github_label' | translate }}:</strong>
            <a href="https://github.com/Jordisketch">github.com/Jordisketch</a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
