<div class="card">
  <nav class="w-full bg-white shadow-md px-4 py-3 flex items-center justify-between">
    <div class="flex items-center space-x-4">
      <ng-content></ng-content>
    </div>

    <form [formGroup]="formGroup" class="flex items-center">
      <p-select
        [options]="languages"
        formControlName="selectedLanguage"
        optionLabel="language"
        placeholder="{{ language | translate }}"
        class="w-40"
        optionValue="key"
      ></p-select>
    </form>
  </nav>
</div>
