<div class="card flex justify-start">
  <div class="flex flex-col h-full">
    <div class="flex items-center justify-between px-6 pt-4 shrink-0"></div>
    <div class="overflow-y-auto">
      <ul class="list-none p-4 m-0">
        <li>
          <div
            pRipple
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="animate-slidedown"
            leaveToClass="hidden"
            leaveActiveClass="animate-slideup"
            class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
          >
            <a routerLink="/about-me">
              <span class="font-medium">About me</span>
            </a>
          </div>
          <div
            pRipple
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="animate-slidedown"
            leaveToClass="hidden"
            leaveActiveClass="animate-slideup"
            class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
          >
            <span class="font-medium">Projects</span>
          </div>
          <ul class="list-none p-0 m-0 overflow-hidden">
            <li>
              <a
                pRipple
                class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                routerLink="/this-project"
              >
                <span class="font-medium ml-5">This project</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
