<p-menu [model]="items" class="h-auto w-screen border-0">
  <ng-template #item let-item class="h-auto">
    <ng-container *ngIf="item.route; else elseBlock">
      <a [routerLink]="item.route" class="p-menu-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label | translate }}</span>
      </a>
    </ng-container>
    <ng-template #elseBlock>
      <a [href]="item.url" class="p-menu-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label | translate }}</span>
      </a>
    </ng-template>
  </ng-template>
</p-menu>
